*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

/* Fonts */

@font-face {
  font-family: "Sanchez";
  src: url("../fonts/Sanchez-Regular.woff2") format("woff2"),
    url("../fonts/Sanchez-Regular.woff") format("woff"),
    url("../fonts/Sanchez-Regular.ttf") format("truetype"),
    url("../fonts/Sanchez-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Sanchez";
}

button {
  background: 0;
  border: 0;
  outline: none;
}

.content {
  width: 100%;
  height: 100%;
  font-size: 5vw;
  background: url(../img/bg.jpg) 50% 50% / 100% no-repeat;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
}
.logo {
  width: 10vw;
  position: absolute;
  top: 0;
  left: 0;
}
.logo__media {
  width: 100%;
}
.title__text {
  color: #da291c;
}
.btn {
  width: 35vw;
  bottom: 0;
  background: 0;
  animation: puls 1.5s infinite ease;
}
@keyframes puls{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
.btn__media {
  width: 100%;
}
